/* css file/language is where you format your webpage */

body {
  background-color: blanchedalmond;
  font-family: monospace;
}
button {
  font-family: monospace;
  font-size: small;
  background-color: darkorange;
}
